@media (min-width: 600px) and (max-width: 1024px){
    .header > .container {
        padding: 10% 8%;
        text-align: center;
        height: 79%;
        margin: 0 15%
    }
    
    .header__title {
        font-size: 0.7em;
        text-align: center
    }

    .header__subtitle {
        font-size: 0.6em
    }

    .header_row {
        font-size: 0.4em;
        padding-bottom: 15%;
        line-height: 1.2;
    }
}