@import 'fonts.css';

* {
	margin: 0;
    padding: 0;
    font-family: 'Myriad Pro Regular';

}

.menu-bar {
    height: 100px;
    padding: 30px 0;
    background-color: #191919;
}

.menu-bar > .container {
    max-width: 1200px
}

ol, li {
    display: block;
    padding: 0;
    margin: 0;
    border: none !important
}

.menu-bar, .menu-bar a {
    color: #e9e9e9;
}

.menu-bar a:hover {
    text-decoration:none
}

.header-element {
    font-size: 12px;
    line-height: 2;
}

.header-telephone {
    font-size: 18px;
}

#order-call-button {
    font-size: 12px;
    background-image: -moz-linear-gradient( 125deg, rgb(39,53,136) 0%, rgb(28,98,172) 100%);
    background-image: -webkit-linear-gradient( 125deg, rgb(39,53,136) 0%, rgb(28,98,172) 100%);
    background-image: -ms-linear-gradient( 125deg, rgb(39,53,136) 0%, rgb(28,98,172) 100%);
    position: absolute;
    width: 170px;
    height: 50px;
    z-index: 231;
    text-align: center;
    vertical-align: center;
    padding-top: 17px
}

span :hover {
    cursor: pointer;
    transition: 0,5s;
    background-image: none !important;
    border: white solid 1px;
}

/* Шапка */

.header {
    background-image: url(img/background_header.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: left;
}

.header > .container {
    background-color: #f7b516;
    padding: 100px 180px 500px 100px;
    margin: 0px 975px 0px 375px;
    width: 570px;
    height: 860px;
}

.container > .list {
    padding: 0;
}

.header__title {
    font-size: 40px;
    line-height: 1.375;
    padding-bottom: 47px
}

.header__subtitle {
    font-size: 25px;
    line-height: 1.2;
    padding-bottom: 100px;
}

.header_row {
    font-size: 17px;
    padding-bottom: 55px;
    line-height: 1.2;
}

.header_row > .col-xl-2 {
    bottom: -3px;
}

.get__info {
    background-image: url(img/background_price.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    text-align: right
}

.get__info > .container {
    float: right;
    padding: 99px 392px 0 0;
}

h2 {
    font-size: 30px;
}

#get_price_now {
    padding-bottom: 60px
}

.input-form-header {
    height: 70px;
    width: 370px;
    background-color: #f2f2f2;
    border: none;
}

#your_phone {
    background-image: url(img/call_answer.png);
    background-repeat: no-repeat;
    text-indent: 50px;
    background-position: 320px;
}

#your_email {
    background-image: url(img/envelope.png);
    background-repeat: no-repeat;
    text-indent: 50px;
    background-position: 320px;
}

#get__price {
    background-color: rgb(24, 102, 175);
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 370px;
    height: 80px;
    padding: 33px 118px 33px 118px;
    margin-top: 30px
}

#price__time {
    margin-top: 55px;
    width: 370px;
    height: 80px;

}

#price__time > span {
    text-align: right;
    font-size: 14px;
    line-height: 1.2; 
    display: inline-block;
    padding-right: 30px;
    
}

#price__time > img {
    vertical-align: sub;
}

/* top-bottom */

.top-bottom {
    height: 587px;
    width: 100%;
    background: #08243e;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

#top_bottom_title {
    padding: 99px 0 29px 0;
    font-size: 36px;
}

#top_bottom_subtitle {
    font-size: 20px;
    padding-bottom: 110px
}

.top_bottom_img {
    padding-bottom: 49px
}

.top_bottom_description {
    font-size: 18px;
    padding-bottom: 100px
}

/* хедер кончился */

#vendor {
    height: 580px;
    width: 100%;
    background-image: url(img/background_2.png);
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

#vendor_title {
    font-size: 30px;
    padding: 99px 0 30px 0;
}

#vendor_subtitle {
    font-size: 20px;
    padding-bottom: 60px
}

.input_form_vendor {
    background-color: #f2f2f2;
    width: 370px;
    height: 70px;
    border: none;
    text-indent: 50px
}

#phone_img_vendor {
    background-image: url(img/call_answer.png);
    background-repeat: no-repeat;
    background-position: 320px;
}
  
  #vendor_send_button {
    background-color: #f7b516;
    width: 370px;
    height: 70px;
    border: none
  }

#vendor_call {
    font-size: 14px;
    line-height: 29px;
    padding-top: 60px;
    padding-bottom: 0
}

#vendor_number {
    font-size: 30px;
    padding-bottom: 102px
}

#guarantees {
    height: 806px;
    color: black;
    background-color: white;
    align-items: center;
    text-align: center;
}

.guarantees-title > h2 {
    padding-top: 99px;
    padding-bottom: 100px;
    font-size: 36px
}

.guarantees-img {
    padding-bottom: 40px
}

.guarantees-subtitles > div > h4 {
    font-size: 18px;
    padding-bottom: 38px
}

.guarantees-more > div > a {
    color: black;
    font: 18px underlined;
    padding-bottom: 100px
}

/* BONUS */

#bonus {
    background: #08243e;
    color: white;
    text-align: center;
    align-items: center;
}

#bonus-title {
    font-size: 36px;
    padding: 98px 0 99px 0
}

.bonus_item {
    font-size: 30px;
    padding: 40px 20px 40px 25px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid white;
    border-width: 2px;
    width: 120px;
    height: 120px;
    margin-bottom: 39px
}

.bonus_bottom {
    padding-bottom: 99px
}

/* questions */

#questions {
    text-align: center;
    color: white;
    background-color: #0b3554
}

#questions-title {
    font-size: 36px;
    padding-top: 99px;
    padding-bottom: 30px
}

#questions-subtitle {
    font-size: 20px;
    /*padding-bottom: 100px*/
}

.list-group-item {
    display: list-item;
    background: none;
    font-size: 16px;
    text-decoration: underline;
    text-align: left;
}

.list-group-description {
    display: none
}

#list-group-item-1 {
    list-style: none
}
#list-group-item-6 {
    list-style-image: url(img/3_reload.png)
}

.active {
    display: block
}

#questions > .container > .row {
    padding-bottom: 100px
}

#conveniences {
    text-align: center;
    color: black;
    background-color: white
}

.conveniences-title {
    padding: 98px 0 29px 0;
    font-size: 36px
}

.conveniences-subtitle {
    padding-bottom: 100px;
    font-size: 20px
}

.conveniences-img {
    padding-bottom: 50px
}

.conveniences-description {
    font-size: 18px;
    padding-bottom: 100px
}

#warehouse {
    text-align: center;
    color: white;
    background-color: #0b3554
}

.warehouse-img {
    padding-bottom: 99px
}

#specialists {
    text-align: center;
    color: black;
    background-color: white;
}

.specialists-container {
    padding: 98px 0 100px 0
}

#specialists-title {
    padding-bottom: 100px
}

.specialists-img {
    padding-bottom: 96px
}
